CONTENTS LIST:
- Merging data

#01 Importing libraries & data

In [3]:
import pandas as pd
import numpy as np
import os

In [4]:
# Defining path to import data
path = '/Users/gingermoore/Documents/04-2025 Instacart Basket Analysis'

In [5]:
# Importing data
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'))
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = False)

#02 Exercise

In [7]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,orders_chronological,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new
0,0,0,2539329,1,1,2,8,NaN,True
1,1,1,2398795,1,2,3,7,15.0,False
2,2,2,473747,1,3,3,12,21.0,False
3,3,3,2254736,1,4,4,7,29.0,False
4,4,4,431534,1,5,4,15,28.0,False

In [8]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [9]:
# Dropping unnecessary index columns from df_ords
vars_list = ['order_id', 'user_id', 'orders_chronological', 'orders_day_of_week', 'order_hour_of_day', 'days_since_prior_order', 'is_new']

In [10]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), usecols = vars_list)

In [11]:
df_ords.head()

,order_id,user_id,orders_chronological,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new
0,2539329,1,1,2,8,NaN,True
1,2398795,1,2,3,7,15.0,False
2,473747,1,3,3,12,21.0,False
3,2254736,1,4,4,7,29.0,False
4,431534,1,5,4,15,28.0,False

In [12]:
#Running shape commands
df_ords.shape

(3421083, 7)

In [13]:
df_ords_prior.shape

(32434489, 4)

In [14]:
# Merging data
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [15]:
df_merged_large.head()

,order_id,user_id,orders_chronological,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [16]:
# Checking merge flag frequency
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [17]:
# Export data to pkl

df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))

In [34]:
for col in df_ords_prior.columns.tolist():
  weird = (df_ords_prior[[col]].map(type) != df_ords_prior[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_ords_prior[weird]) > 0:
    print (col)

In [36]:
df_ords_prior.isnull().sum()

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64