CONTENTS LIST:
- Merging data
- Checking for full match
- Exporting data as .pkl file

#01 Importing data & libraries

In [3]:
# Importing libraries
import pandas as pd
import numpy as np
import os

In [5]:
path = '/Users/gingermoore/Documents/04-2025 Instacart Basket Analysis'

In [7]:
# Importing data

In [15]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_clean.csv'), usecols = ['product_id', 'product_name',
                      'aisle_id', 'department_id', 'prices'])

In [17]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [23]:
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

#02 Checking data shape and heads

In [25]:
# Checking head and shape of data
df_ords_prods_comb.head()

,order_id,user_id,orders_chronological,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [27]:
df_ords_prods_comb.shape

(32434489, 11)

#03 Merging data

In [31]:
# Using 'exists' as the merge flag indicator since previous merge already created a merge flag column
df_merged = df_prods.merge(df_ords_prods_comb, on = 'product_id', indicator = 'exists')

In [32]:
# Checking shape of new df and prior dfs
df_merged.shape

(32399732, 16)

In [35]:
df_prods.shape

(49670, 5)

In [37]:
df_ords_prods_comb.shape

(32434489, 11)

In [39]:
df_merged.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,orders_chronological,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new,add_to_cart_order,reordered,_merge,exists
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,both

In [41]:
df_ords_prods_merge = df_merged.drop(columns = '_merge')

In [43]:
df_ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,orders_chronological,orders_day_of_week,order_hour_of_day,days_since_prior_order,is_new,add_to_cart_order,reordered,exists
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both

In [49]:
#Checking for a full match
df_ords_prods_merge['exists'].value_counts()

exists
both          32399732
left_only            0
right_only           0
Name: count, dtype: int64

In [51]:
# Full match confirmed

#04 Exporting data

In [54]:
# Exporting data as pickle due to size
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge.pkl'))